@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: #fff;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  border-radius: 12px;
  text-align: center;
  position: relative;
  animation: popupFade 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

@keyframes popupFade {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.report_card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.report_card:hover {
  transform: translateY(-5px);
}

.report_img {
  position: relative;
}

.report_img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.report_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.report_card:hover .report_overlay {
  opacity: 1;
}

.report_overlay i {
  font-size: 30px;
  margin-bottom: 5px;
}

.report_content {
  padding: 15px;
}
